node_modules/
.next/
out/
.turbo/
dist/
.sanity/

# env (keep examples)
.env
.env.*
!.env.example
!.env.*.example

# TypeScript
*.tsbuildinfo

# logs / misc
npm-debug.log*
pnpm-debug.log*
.DS_Store

# avoid mixed package managers
package-lock.json
yarn.lock
npm-shrinkwrap.json
